.app {
  max-width: 100%;
  min-height: 100vh;
  font-family: "Kreon";
  background-color: white;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
}

.appContainer {
  max-width: 680px;
  max-width: 0 auto;
}
