.main {
  width: 100%;
  min-height: 231px;
  background-color: black;
}

.mainTitle {
  font-weight: 400;
  font-size: 96px;
  line-height: 120.96px;
  margin: 0;
  padding: 43px 0 0 0;
  color: white;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .mainTitle {
    font-size: 64px;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: center;
  }
}
